body{
  background-color: #fffff8;
  color: #333333;
}

/* デザイン画像ができるまでの一時的フッター */
/* footer{
  background-color: #aa9fa0;
  height: 40px;
  margin-top:160px;
} */

.footer1{
  width: 100%;
}

.home{
  background-image: url(../images/photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.flex{
  display: flex; /* 横並びに */
  flex-wrap: wrap; /* 折り返す */
}

.flexbox-center {
  display: flex; /* 子要素をflexboxで揃える */
  flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
  justify-content: center; /* 子要素をflexboxにより中央に配置する */
  align-items: center;  /* 子要素をflexboxにより中央に配置する */
  width: 100%;
  height: 800px;

}

.center-box{
  padding: 45px;
  background-color: rgb(255, 255, 255, 0.5);
  /* border: 1px solid; */
  border-radius: 10px;
  /* opacity: 0.5; */
}

.center-box h1{
  text-align: center;
  margin-right:45px;
}

.home-button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	height: 4rem;
	width: 190px;
	margin: 35px 30px 30px 30px;
	padding:10px;
	border-radius: 3%;
	background: #aa9fa0;
	background-size: 400%;
	color: #fff;
}
.home-button:hover::before {
  transform: scaleX(1);
}
.home-button:hover {
	color: #333333;
}
.home-button span {
  position: relative;
  z-index: 1;
}
.home-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    #84ccc9 10.8%,
    #eae4d6 94.3%
  );
  transition: all 0.475s;
}

.login-box{
  display:block;
  width: 35%;
  margin: 50px auto;
  padding: 30px;
  background-color: #aa9fa0;
  color: #fff;
  border-radius: 20px;
  align-items: center;
}

.button{
  color: #fff;
  padding: 15px;
  border-style: solid;
  border-color: #fff;
  border-radius: 10px;
  display: block;
  margin: 50px auto auto auto;
}

.icon{
  height:70px;
  background-size: cover;
}




/* 最初のローディング */

/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background:#fffff8;
    text-align:center;
    color:#fff;
  }

  /* Loading画像中央配置　*/
  #splash_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Loading アイコンの大きさ設定　*/
  #splash_logo img {
    width:260px;
  }

  /* fadeUpをするアイコンの動き */
  .fadeUp{
  animation-name: fadeUpAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  opacity: 0;
  }

  @keyframes fadeUpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }

    to {
      opacity: 1;
    transform: translateY(0);
    }
  }
  /* ローディング */