body{
  background-color: #fffff8;
  color: #333333;
}

h2{
  text-align:center;
  margin:40px;
}
.wf-nicomoji {
  font-family: "Nico Moji";
  font-size:60px;
}

a{
  margin:auto;
  color: #333;
  text-decoration: none;
}
.white_a{
  color:#fff;
  text-decoration: none;
}
a:hover{
  color: rgb(255, 255, 255, 0.5);
}

.buttom_up:hover{
  transform: scale(1.1);
}

.footer1{
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer2{ /* solvedとunsolvedのフッター */
  width: 100%;
  height: 200px;
  object-fit: cover;
  bottom: 0;
}

.home{
  background-image: url(../images/photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.flex{
  display: flex; /* 横並びに */
  flex-wrap: wrap; /* 折り返す */
}

.flexbox-center {
  display: flex; /* 子要素をflexboxで揃える */
  flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
  justify-content: center; /* 子要素をflexboxにより中央に配置する */
  align-items: center;  /* 子要素をflexboxにより中央に配置する */
  width: 100%;
  height: 800px;

}

.center-box{
  padding: 45px;
  background-color: rgb(255, 255, 255, 0.5);
  /* border: 1px solid; */
  border-radius: 10px;
  /* opacity: 0.5; */
}

.center-box h1{
  text-align: center;
  margin-right:45px;
}

.home-button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	height: 4rem;
	width: 190px;
	margin: 30px auto;
	padding:10px;
	border-radius: 3%;
	background: #aa9fa0;
	background-size: 400%;
	color: #fff;
}
.home-button:hover::before {
  transform: scaleX(1);
}
.home-button:hover {
	color: #333333;
}
.home-button span {
  position: relative;
  z-index: 1;
}
.home-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    #84ccc9 10.8%,
    #eae4d6 94.3%
  );
  transition: all 0.475s;
}

.login-box{
  display:block;
  width: 35%;
  margin: 50px auto;
  padding: 30px;
  background-color: #aa9fa0;
  color: #fff;
  border-radius: 20px;
  align-items: center;
}

.button{
  color: #fff;
  padding: 15px;
  border-style: solid;
  border-color: #fff;
  border-radius: 10px;
  display: block;
  margin: 50px auto auto auto;
}

.button2{
  padding: 10px 25px;
  border-style: solid;
  border-color: #aa9fa0;
  border-radius: 10px;
  display: block;
  margin: 50px auto auto auto;
}

.icon{
  height:70px;
  background-size: cover;
}
.level_icon{
  height:95px;
  position:fixed;
  right:50px;
  bottom:80px;
}
.level_move_right{
  height:150px;
  position:fixed;
  right:10px;
  bottom:300px;
}
.level_move_left{
  height:150px;
  position:fixed;
  left:10px;
  bottom:300px;
}

.search_box{
  width:500px;
  height:40px;
  background-color:#fff;
  border-radius:5px;
  border:solid 1px #333;
}
.search_button{
  margin-top :12px;
  padding: 4px 13px;
  border-radius:5px;
  border: solid 1px #333;
}

.contents{
  min-height: 500px;
}


details { /* 折りたたみボックス全体 */
  width: 800px;
  box-shadow: 4px 4px 5px rgb(100,90,90);
  margin: 30px auto;
  border-radius: 5px;
}

details > summary { /* 折りたたみボックスのerror */
  padding: 6px;
  width: auto;
  height: auto;
  justify-content: center;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  list-style: none;

}

/* 解決数によってerrorの色を変更 */
.error{
  background-color: #aa9fa0;
  color: #333;
}
.error_level1{
  background-color:rgb(200, 190, 191);
  color: #333;
}
.error_level2{
  background-color:rgb(187, 219, 180);
  color: #333;
}
.error_level3{
  background-color:rgb(182, 206, 220);
  color: #333;
}
.error_level4{
  background-color:rgb(233, 189, 190);
  color: #333;
}
.error_level5{
  background-color:rgb(50, 51, 56);
  color: #fff;
}
.error_timeline{
  background-color:rgb(224, 222, 186);
  color: #333;
}

.back_black{
  /* background-color:rgb(230, 230, 230); */
  padding:10px;
}

.wrap{
  display: flex;
  height:40px;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
}
.wrap2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.select_box{
  border: solid 1px #333;
  padding:5px;
  margin: 10px 20px;
  border-radius: 7px;
  text-align: center;
}

.box-detail{
  list-style: none;
  padding: 30px;
  margin-bottom: 0px;
  background-color: #ffffff;
}
dd{
  margin-left: 10px;
}

.form-box{
  width:80%;
  margin:auto;
}

/* 最初のローディング */

/* Loading背景画面設定 */
#splash {
  /*fixedで全面に固定*/
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background:#fffff8;
    text-align:center;
    color:#fff;
  }

  /* Loading画像中央配置 */
  #splash_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Loading アイコンの大きさ設定 */
  #splash_logo img {
    width:260px;
  }

  /* fadeUpをするアイコンの動き */
  .fadeUp{
  animation-name: fadeUpAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  opacity: 0;
  }

  .profile{
  margin-right: 10px;
  margin-left: 10px;
}

  @keyframes fadeUpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }

    to {
      opacity: 1;
    transform: translateY(0);
    }
  }
  /* ローディング */


  @media (max-width: 1000px) {
    details{
      width: 80vw;
    }
    .login-box{
      width: 70vw;
    }
    .level_move_right{
      height:115px;
    }
    .level_move_left{
      height:115px;
    }
    .clover{
    height:90px;
    }
    .contents{
      min-height: 300px;
    }
  }
  @media (max-width: 600px) {
    .font_size{
      font-size:16px;
    }
    .level_move_right{
      height:90px;
    }
    .level_move_left{
      height:90px;
    }
    .search_box{
      width: 300px;
    }
    .footer2{
      object-position: 40% 0;
    }
  }
