body{
  background-image: url(../images/photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}



/* 中央の選択ボックス */
.wf-nicomoji {
  font-family: "Nico Moji";
  font-size:70px;
}
.flexbox-center {
  display: flex; /* 子要素をflexboxで揃える */
  flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
}
.center-box{/* 中央の白いボックスの中身 */
  padding: 45px 60px;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 10px;
}
.center-box h1{
  text-align: center;
  color: #333;
}
/* end */



/* ログイン･新規登録のボタンのデザイン */
.home-button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	height: 4rem;
	width: 190px;
	margin: 30px auto;
	padding:10px;
	border-radius: 3%;
	background: #aa9fa0;
	background-size: 400%;
	color: #fff;
}
.home-button:hover::before {
  transform: scaleX(1);
}
.home-button:hover {
	color: #333333;
}
.home-button span {
  position: relative;
  z-index: 1;
}
.home-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    #84ccc9 10.8%,
    #eae4d6 94.3%
  );
  transition: all 0.475s;
}
/* end */



/* 最初のローディング */
#splash {/* Loading背景画面設定 */
    position: fixed;  /*fixedで全面に固定*/
    width: 100%;
    height: 100%;
    z-index: 999;
    background:#fffff8;
    text-align:center;
    color:#fff;
  }
  #splash_logo {  /* Loading画像中央配置 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #splash_logo img {  /* Loading アイコンの大きさ設定 */
    width:260px;
  }
  @keyframes fadeUpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }

    to {
      opacity: 1;
    transform: translateY(0);
    }
  }
/* end */



  @media (max-width: 600px) {
    .font_size{
      font-size:16px;
    }
    .center-box{/* 中央の白いボックスの中身 */
      padding: 20px 40px;
      background-color: rgb(255, 255, 255, 0.8);
      border-radius: 10px;
    }
  }


