{% extends "base.html" %}

{% block title %}
    解決済
{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-brand">プロフィール</div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item profile">ユーザー: {{ username }} </li>
                    <li class="nav-item profile">総エラー数: {{ errors_sum }} </li>
                    <li class="nav-item profile">解決済み: {{ solved_sum }} </li>
                    <li class="nav-item profile"><a href="/unsolved" role="button"><span>未解決</span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <hr>
    <form action="/solved" method="POST">
        <div>
            <select name="language">
                    <option disabled selected>言語を選択してください</option>
                    <option>すべての言語</option>
                {% for language in languages %}
                    <option>{{ language }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit">絞る</button>
    </form>
    <hr>
    <a href="/record" role="button" class = "home-button"><span>登録</span></a>

<div class="contents">
    <h2>解決済みエラー</h2>

    {% for solved_error in solved_errors %}
    <details>
    <summary class="error">
        {{ solved_error.message }}
    </summary>
        <div>
            <ul class="box-detail" >
                <li>投稿日時:{{ solved_error.before_day }}</li>
                <li>解決日時:{{ solved_error.after_day }}</li>
                <li>{{ solved_error.language }}</li>
                <li>{{ solved_error.explain }}</li>
                <li>{{ solved_error.solved }}</li>
            </ul>
        </div>
        <div class="wrap">
            <a href="/edit" role="button">編集</a>
        </div>
    </details>
    {% endfor %}
</div>
<footer><img src="./static/images/level3.png" alt="footer" class = "footer2"></footer>
{% endblock %}

<!--
名前:sessionにユーザー名を使っているのでそのままいける
エラー数:SELECT COUNT(*) FROM errors WHERE username = ?, session[user_id]
解決数:SELECT COUNT(*) FROM errors WHERE username = ? AND public = ?, session[user_id], True(仮)
-->