{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}

    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}

    <form method="POST" action="/login" class = "login-box">
        <div class="mb-3">
            <label class="form-label">ユーザー名</label>
            <input class="form-control" autofocus name="login_id" type="text" placeholder="ユーザー名"  required>
        </div>
        <div class="mb-3">
            <label class="form-label">パスワード</label>
            <input class="form-control"  name="login_pass" type="password" placeholder="パスワード" required>
        </div>
        <button type="submit" class="button">ログイン</button>
    </form>

    <footer></footer>

{% endblock %}

<!-- CREATE TABLE users (user_id  INTEGER PRIMARY KEY, name TEXT NOT NULL, password TEXT NOT NULL);
CREATE TABLE errors (error_id  INTEGER PRIMARY KEY, user_id  INTEGER NOT NULL, language TEXT, message TEXT, explain TEXT, solved TEXT, public TEXT NOT NULL, before_day TIMESTAMP DEFAULT(DATETIME('now','localtime')), after_day TIMESTAMP DEFAULT(DATETIME('now','localtime'))); -->