{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}

    <form method="POST" action="/login">
        <div>
            <input autofocus name="login_id" type="text" placeholder="ユーザー名"  required>
        </div>
        <div>
            <input name="login_pass" type="password" placeholder="パスワード" required>
        </div>
        <button type="submit">ログイン</button>
    </form>

{% endblock %}

CREATE TABLE users (user_id  INTEGER PRIMARY KEY, name TEXT NOT NULL, password TEXT NOT NULL);
CREATE TABLE errors (error_id  INTEGER PRIMARY KEY, user_id  INTEGER NOT NULL, language TEXT, message TEXT, explain TEXT, solved TEXT, public TEXT NOT NULL, before_day TIMESTAMP DEFAULT(DATETIME('now','localtime')), after_day TIMESTAMP DEFAULT(DATETIME('now','localtime')));