<!--unsolved.html はどうでしょうか　石森-->

{% extends "base.html" %}

{% block title %}
    未解決
{% endblock %}

{% block body %}

        <div class="section">

            <h2>All Birthdays</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Birthday</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- TODO: Loop through the database entries to display them in this table -->
                        {% for birthday in birthdays %}
                            <tr>
                                <td>{{ birthday.name }}</td>
                                <td>{{ birthday.month }}/{{ birthday.day }}</td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>

{% endblock %}