{% extends "base.html" %}

{% block title %}
    Record
{% endblock %}

{% block body %}

    <form action="/record" method="post">
        <div class="mb-3">
            <!-- autofocusいるかな？ -->
            <!-- inputいらないのでは？？ -->
            <!-- <input autocoplete="off" autofocus name="language" placeholder="学習した言語を選んでください" type="text"> -->
            <select name="language">
                <option disable selected>学習した言語を選択してください</option>
                {% for lan in language %}
                <option>{{ lan }}</option>
                {% endfor %}
            </select>

            <!-- <p>学習した言語が見つかりませんか？</p>
            <input autocomplete="off" name="add" placeholder="追加したい言語を入力してください" type="text"> -->
            
            <p></p>
            <input autocomplete="off" name="error" placeholder="エラーをターミナルからコピーして入力してください" type="text" required>
            <p></p>
            <input autocomplete="off" name="explanation" placeholder="説明文を入力してください" type="text" required>
            <p></p>
            <input autocomplete="off" name="solution" placeholder="解決策を入力してください" type="text">
            <p></p>
            <button type="submit">解決</button>
            <button type="submit">未解決</button>
        </div>
    </form>

{% endblock %}
