{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}

    <form method="POST" action="/register"  class = "login-box">
        <div class="mb-3">
            <label class="form-label">ユーザー名</label>
            <input class="form-control" autofocus name="register_id" type="text" placeholder="ユーザー名"  required>
        </div>
        <div class="mb-3">
            <label class="form-label">パスワード</label>
            <input class="form-control" type="password" name="register_pass" placeholder="パスワード" required>
        </div>
        <button class="button" type="submit">新規登録</button>
    </form>

    <footer><img src="./static/images/footer1.png" alt="icon" class = "footer1"></footer>

{% endblock %}