{% extends "base.html" %}

{% block title %}
    解決済
{% endblock %}

{% block body %}
    <a href="/record" role="button" class = "home-button"><span>登録</span></a>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-brand">Profile</div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">neme:{{}}</li>
                    <li class="nav-item">error:{{}}</li>             <!-- ここ修正 -->
                    <li class="nav-item">solved:{{}}</li>
                </ul>
            </div>
        </div>
    </nav>

    <hr>
    <form action="/unsolved" method="POST">
        <div>
            <select name="language">
                    <option disabled selected>言語を選択してください</option>
                    <option>すべての言語</option>
                {% for language in languages %}
                    <option>{{ language }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit">絞る</button>
    </form>
    <hr>

    <h2>解決済みエラー</h2>
    {% for solved_error in solved_errors %}
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    {{ solved_error.message }}
                    </button>
                </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <ul>
                    <li>投稿日時:{{ solved_error.before_day }}エラー解決日時:{{ solved_error.after_day }}</li>
                    <li>{{ solved_error.language }}</li>
                    <li>{{ solved_error.explain }}</li>
                </ul>
            </div>
        </div>
    {% endfor %}

    <footer><img src="./static/images/footer1.png" alt="icon" class = "footer1"></footer>
{% endblock %}

<!--
名前:
エラー数:
解決数:
-->